
body {
    font-family: "Arial", serif;
}

.header {
    height: 280px;
    background-color: rgb(106, 225, 185);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Arial", serif;
}

.header-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-subtitle {
    font-size: 16px;
}

.menu {
    background-color: rgb(57, 51, 51);
    height: 60px;

    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    padding-left: 20px;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.body {
    /* height: calc(100vh - 340px) ; */
    display: flex;
}

.about {
    flex-basis: 350px;
    background-color: lightgray;
    box-sizing: border-box;
    flex-shrink: 0;
}

.about,
.content {
    padding: 40px 15px;
}

.content {
    flex-grow: 1;
}

.about-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.content-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-photo {
    width: 100%;
}

.about-text {
    margin-bottom: 20px;
}

.content-img {
    width: 100%;
}

.content-text {
    margin-bottom: 20px;    
}
